<div class="jumbotron">
  <h1>Your Address Book</h1>
  <h2> Contacts </h2>
</div>

<a class="btn btn-primary" href="/contacts/new">Add New Contact</a>
#foreach($contact in $contacts)
 <h3><a href="/contacts/$contact.getId()">$contact.getFullName()</a></h3>
#end
