<div class="jumbotron">
  <h1>Dictionary</h1>
  <h3>Add a word</h3>
</div>

<p>Add a word:</p>

<form action="/" method="post">
  <label for="wordName">Word</label>
  <input id="wordName" name="wordName" type="text">

  <button type="submit" class="btn btn-success">Add Word</button>
</form>
