<div class="jumbotron">
  <h1>Dictionary</h1>
  <h3>Add a definition</h3>
</div>

<p>Add a definition</p>

<form action="/definition-new" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">


  <label for="wordMeaning">Definition</label>
  <input id="wordMeaning" name="wordMeaning" type="text">

  <button type="submit" class="btn btn-success">Add Definition</button>
</form>
